.NavItems{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: column;
}

.NavItem {
    width: 100%;
    margin: 10px 0;
    display: block;
    box-sizing: border-box;
}

.NavItem a{
    color: #8F5C2C;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavItem a:active, .NavItem a.active, .NavItem a:hover{
    color: #40A4C8;
}

@media(min-width:500px){
    .NavItems{
        flex-flow: row;
        
    }
    .NavItem {
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        width: auto;
    }
    
    .NavItem a{
        color: white;
        height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
    }
    
    .NavItem a:active, .NavItem a.active, .NavItem a:hover{
        background-color: #8F5C2C;
        border-bottom: 4px solid #40A4C8;
    }

}